﻿#wapaler
{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    display: block;
    z-index: 99;
}

div.msgBox
{
    padding: 4px 10px 4px 10px;
    position: fixed;
    z-index: 999999;
    font-family: Verdana;
    min-width: 300px;
    color: #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
  background-color:#f4f6f8;
  height:200px;
    width: 400px;
}

div.msgBoxBackGround
{
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.9;
    z-index: 999;
}

div.msgBoxTitle
{
    padding: 5px 0 5px 0;
    font-size: 12pt;
    font-weight: lighter;
    color: #00335e;
    font-weight: bold;
    border-bottom: 1px solid #002c5f;
    text-align: left;
    cursor: move;
}

div.msgBox
{
    font-family: Verdana;
    color: #00335e;
   
}

div.msgBoxImage
{
    margin: 10px 5px 0 5px;
    display: inline-block;
    float: left;
}

    div.msgBoxImage img
    {
        width: 30px;
        height: 30px;
    }

div.msgBoxContent
{
    font-size: 12pt;
    margin: 10px 3px 0px 0px;
    display: inline-block;
    text-align: left;
    width: 90%;
}

    div.msgBoxContent p
    {
        padding: 0;
        margin: 0;
        display: table;
        height: 100%;
    }

    div.msgBoxContent span
    {
        display: table-cell;
        vertical-align: middle;
        color: #00335e;
    }

div.msgBoxButtons
{
    display: inline-block;
    width: 100%;
    text-align: right;
    margin: 5px 0px;
}

    div.msgBoxButtons input[type='button']
    {
        cursor: pointer;
        margin: 2px;
        height: 25px;
        width: 70px;
        border: 1px solid #AFAFAF;
        font-size: 12px;
        color: #FFFFFF;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .btn
{
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #B3B3B3;
    display: inline-block;
    padding: 2px 8px 2px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); /*background-image: -moz-linear-gradient(top, white, #E6E6E6);*/
}

    .btn:hover
    {
        color: #333;
        text-decoration: none;
        background-color: #E6E6E6;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -ms-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

.btn-tertiary
{
    font-size: 11px;
    font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
    text-shadow: 0px -1px 0px #505455;
    color: #ffffff;
    background-color: #336699;
    background-image: linear-gradient(top, #8c9091, #505455);
    border-left-color: #6E7273;
    border-right-color: #505455;
    border-top-color: #6E7273;
    border-bottom-color: #505455;
}

    .btn-tertiary:hover, .btn-tertiary:active, .btn-tertiary.active, .btn-tertiary.disabled, .btn-tertiary[disabled], .btn-group.open .btn-tertiary.dropdown-toggle
    {
        background-color: #505455;
    }

    .btn-tertiary:hover
    {
        color: #ffffff;
        text-shadow: 0px -1px 0px #323637;
    }

    .btn-tertiary:focus
    {
        color: #d2d6d7;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        border-color: #6E7273 #505455 #505455 #6E7273;
        border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    }

    .btn-tertiary.active, .btn-tertiary:active
    {
        background-image: none;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        color: #d2d6d7;
    }
/* end .btn-tertiary */
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover
{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active
    {
        color: rgba(255, 255, 255, 0.75);
    }

.btn
{
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary
{
    background-color: #0074cc;
    background-color: #0055cc;
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #0088cc, #0055cc);
    border-left-color: #0055cc;
    border-right-color: #0055cc;
    border-top-color: #0055cc;
    border-bottom-color: #003580;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
    {
        background-color: #0055cc;
        background-color: #004ab3;
    }

    .btn-primary:active, .btn-primary.active
    {
        background-color: #004099;
    }
        .errorMessage {
            color:red;
        }
.grid-heading {
	border:solid 1px;
	border-color:#bed6f6;
	background-image:url("../images/grid-heading.png");
	height:23px;
}
.grid-even-row {
	border:solid 1px;
	border-color:#bed6f6;
	background:#fff;
}
.grid-odd-row {
	border:solid 1px;
	border-color:#bed6f6;
	background:#f7faff;
}
.grid-border {
	border:solid 1px;
	border-color:#bed6f6;
}