.grid-heading {
	border:solid 1px;
	border-color:#bed6f6;
	background-image:url("../images/grid-heading.png");
	height:23px;
}
.grid-even-row {
	border:solid 1px;
	border-color:#bed6f6;
	background:#fff;
}
.grid-odd-row {
	border:solid 1px;
	border-color:#bed6f6;
	background:#f7faff;
}
.grid-border {
	border:solid 1px;
	border-color:#bed6f6;
}