.TopGroup
{
	
  /*background-color:#000;
  background-image: url(../images/menu/top_groupBg.png);
  border:1px solid #000;*/
  cursor:default;
	height:34px;
	background:url(../images/menu/menu_bg.png) repeat-x;
}

.MenuGroup {
  /*background-color:#9EEDE4;*/
  background:url(../images/menu/submenu_bg.png) repeat-x #fff;
  border:solid 1px #cccccc;
  -webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
padding:5px;
padding-bottom:0
}

.TopMenuItem
{
  color:white;
  font-family:Arial;
  font-size:12px;
  font-weight: bold;
  cursor:default;
  height:34px;
  line-height:32px;
  padding:0 14px;
}

.TopMenuItemHover
{
  color:#FF6600;
  /*background-image: url(../images/menu/top_itemHoverBg.png);
  background-color:#b9b9b9;*/
  font-family:Arial;
  font-size:12px;
  font-weight: bold;
  cursor:default;
  height:34px;
  line-height:32px;
  padding:0 14px;
  background:url(../images/menu/menu_hover.png) repeat-x
}

.MenuItem {
  
  color:#999999;
  font-family:Arial;
  font-size:11px;
  cursor:default;
  padding:4px;
  border-bottom: 1px dotted #999999;
}

.MenuItemHover {
  margin:0;
  /*background:#fff url("../images/menu/itemHoverBg.gif") repeat-x;*/
  color: #FF6600;
  font-family:Arial;
  font-size:11px;
  cursor:default;
  padding:4px;
  border-bottom: 1px dotted #999999;
}

.MenuItemExpanded
{
  margin:0;
  background:#fff url("../images/menu/itemHoverBg.gif") repeat-x;
  color: #01AAAF;
  border: 1px solid #ccc;
  border-right-color:#b9b9b9;
  border-bottom-color:#b9b9b9;
  font-family:tahoma;
  font-size:11px;
  cursor:default;
}

.MenuItemActive
{
  margin:0;
  background:#fff url("../images/menu/itemActiveBg.gif") repeat-x;
  color: #454545;
  border: 1px solid #ddd;
  border-right-color:#ccc;
  border-bottom-color:#ccc;
  font-family:tahoma;
  font-size:11px;
  cursor:default;
}

.MenuBreak
{
  background-color: silver;
  width:100%;
  height:2px;
}


.SetMarginsHover {
  margin:0;
  background:#fff url("../images/menu/setMarginsHoverBg.gif") repeat-x;
  color: #000;
  border: 1px solid #ccc;
  border-right-color:#b9b9b9;
  border-bottom-color:#b9b9b9;
  font-family:tahoma;
  font-size:11px;
  cursor:default;
}


.SetMarginsActive {
  margin:0;
  background:#fff url("../images/menu/setMarginsActiveBg.gif") repeat-x;
  color: #454545;
  border: 1px solid #ddd;
  border-right-color:#ccc;
  border-bottom-color:#ccc;
  font-family:tahoma;
  font-size:11px;
  cursor:default;
}


.ScrollItem
{
  background-color:#eee;
  color:#666;
  border: 1px solid #ccc;
  text-align:center;
  cursor:default;
}

.ScrollItemH
{
  background-color:#eee;
  color:#000;
  border: 1px solid #ccc;
  border-right-color:#b9b9b9;
  border-bottom-color:#b9b9b9;
  text-align:center;
  cursor:default;
}

.ScrollItemA
{
  color: #454545;
  background-color:#fff;
  border: 1px solid #ddd;
  border-right-color:#ccc;
  border-bottom-color:#ccc;
  text-align:center;
  cursor:default;
}

