﻿BODY
{
	background-color: #ffffff;
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
TABLE
{
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 8pt;
    margin-top: 0px;
}

table.form_input
{
	background: #FFFFFF;
	border: solid 3px #eaedf0;
    width: 99%;
}
td.form_label
{
	color: #000000;
	background: #eaedf0;
	padding-left: 3px;
	font-weight: bold;
	text-align: left;
}
td.form_label_hightlight
{
	color: #000000;
	background: #CDCD00;
	padding-left: 3px;
	font-weight: bold;
	text-align: left;
}
td.form_control
{
	color: #E7E7FF;
	background: #eaedf0;
	padding-left: 1px;
}
.grid_data
{
	border: 1px solid #EEEEEE;
	font-size: 8pt;
	font-family: Arial, Verdana, Times New Roman;
	margin-bottom: 0px;
	margin-right: 0px;
}
.grid_header
{
	background: #E4E5D7;
	color: #993333;
	font-weight: bold;
	height: 22px;
	font-size: 8pt;
	font-family: Arial, Verdana, Times New Roman;
	text-align: center;
}
.grid_item
{
	background: #ffffff;
	font-size: 8pt;
	color: #000000;
	height: 20px;
	font-family: Arial, Verdana, Times New Roman;
	text-decoration: none;
}
.grid_item_alter
{
	background: #F6F6F7;
	font-size: 8pt;
	color: #000000;
	height: 20px;
	font-family: Arial, Verdana, Times New Roman;
	text-decoration: none;
}
.grid_item_select
{
	background: Aqua;
	font-size: 8pt;
	color: #000000;
	height: 20px;
	font-family: Arial, Verdana, Times New Roman;
	text-decoration: none;
}

TD
{
	font-size: 8pt;
	font-family: Arial,Verdana, Helvetica, sans-serif;
}


.pageTitle
{
	font-size: 8pt;
	font-family: Arial;
	color: #003399;
	font-weight: bold;
	text-align: right;
	height: 30px;
	font-style: oblique;
	text-transform: uppercase;
}
.errorMessage
{
	font-size: 8pt;
	font-family: Arial;
	color: #ff0033;
	text-align: left;
	border-right: #eeeeee 1px solid;
	border-top: #eeeeee 1px solid;
	border-left: #eeeeee 1px solid;
	border-bottom: #eeeeee 1px solid;
	background: #ffffcc;
}
.requiredField
{
	font-size: 8pt;
	font-weight: bold;
	font-family: Arial;
	color: #ff0033;
}

.inputflat
{
	/*BORDER-RIGHT: #999999 1px solid; 	BORDER-TOP: #999999 1px solid; 	FONT-SIZE: 8pt; 	BORDER-LEFT: #999999 1px solid; 	COLOR: #3C3C3C; 	BORDER-BOTTOM: #999999 1px solid; 	FONT-FAMILY: Arial; 	*/
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial;
	border: 1px solid #e8e7e1;
	background: #fff url(../images/form_red.gif) repeat-x top left;
}

.inputflat2
{
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	font-size: 8pt;
	border-left: #999999 1px solid;
	color: #3C3C3C;
	border-bottom: #999999 1px solid;
	font-family: Arial;
}

.inputflat3
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial;
	border: 1px solid #e8e7e1;
	background-color: Aqua;
}

.inputflat_combo
{
	background: #e8e7e1;
}
.option
{
	background: #FFF;
}
.inputflat_lookup
{
	/*BORDER-RIGHT: #999999 1px solid; 	BORDER-TOP: #999999 1px solid; 	FONT-SIZE: 8pt; 	BORDER-LEFT: #999999 1px solid; 	COLOR: #3C3C3C; 	BORDER-BOTTOM: #999999 1px solid; 	FONT-FAMILY: Arial; 	background-color : Aqua; 	*/
	font-size: 8pt;
	font-family: Arial;
	border: 1px solid #e8e7e1;
	background-color: Aqua; /*background:#fff url(../images/form_red.gif) repeat-x top left;*/
}
.inputflat_number
{
	/*BORDER-RIGHT: #999999 1px solid; 	BORDER-TOP: #999999 1px solid; 	FONT-SIZE: 8pt; 	BORDER-LEFT: #999999 1px solid; 	COLOR: #3C3C3C; 	BORDER-BOTTOM: #999999 1px solid; 	FONT-FAMILY: Arial; 	text-align:right; 	*/
	font-size: 8pt;
	font-family: Arial;
	border: 1px solid #e8e7e1;
	background: #fff url(../images/form_red.gif) repeat-x top left;
	text-align: right;
}
.label
{
	font-size: 8pt;
	font-family: Arial;
	color: #003399;
}
mand
{
	border: 1px none #999999;
	font-family: Arial;
	font-size: 8pt;
	vertical-align: middle;
	background-color: #7f9db9;
	color: white;
	font-weight: bold;
	width: 80px;
	height: 20px;
}
.grid_header
{
	background: #5DC8D2;
}
.grid_header
{
	background: #5DC8D2;
}
.grid_line
{
	border: #4A2C00;
}
.grid_item
{
	border: #4A2C00;
	font-size: 12pt;
	color: #000000;
	font-family: Arial,verdana, Helvetica, sans-serif;
}

.cssPager
{
	background-color: #4f6b72;
	font-size: 18px;
}

.input_highlight
{
	font-weight: bold;
	font-size: 8pt;
	font-family: Arial;
	border: 1px solid #e8e7e1;
	background: #CDCD00  repeat-x top left;
}
