﻿.tab
{
    display: none;
    border: 1px dotted black;
    clear: both;
    margin-bottom: 10px;
    padding: 5px; /*overflow: scroll;*/
    overflow-x: hidden;
    height: 100%;
}
.tab_current
{
    display: block;
    border: 1px dotted black;
    clear: both;
    margin-bottom: 10px;
    padding: 5px; /*overflow: scroll;*/
    overflow-x: hidden;
    height: 100%;
}
.tab *, .tab_current *
{
    margin: 0%;
}
.tabs
{
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
.tabs li
{
    margin: 0px 5px 0px 0px;
    float: left;
    border-top: 1px dotted black;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    background-color: #EAEAEA;
}
.tabs li a.current
{
    background-color: white;
}
.tabs li a.current
{
    background-color: white;
    top: 1px;
    position: relative;
}
.tabs li a
{
    padding: 8px 20px;
    color: black;
    text-decoration: none;
    display: block;
}
.tabs li a:hover
{
    text-decoration: underline;
}
.tabs_top
{
    margin-bottom: 0px;
    padding-bottom: 15px;
}