﻿<%@ Page Language="VB" MasterPageFile="~/shared/MasterPage06.master" AutoEventWireup="false"
    CodeFile="frmChiTietCT_HQ_EBANK.aspx.vb" Inherits="pages_ChungTu_frmChiTietCT_HQ_EBANK" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">

    <script src="../../jsdropdowlist/jquery.js" type="text/javascript"></script>
    <script language="javascript" src="../../javascript/CheckDate.js" type="text/javascript"></script>
    <script language="javascript" src="../../javascript/popup.js" type="text/javascript"></script>
    <script language="javascript" src="../../javascript/popcalendar.js" type="text/javascript"></script>
    <script language="javascript" src="../../javascript/CheckDate.js" type="text/javascript"></script>
    <script language="javascript" src="../../javascript/popup.js" type="text/javascript"></script>

    <script language="javascript" src="../../images/javascript/jquery/script/default/jquery-1.4.3.min.js" type="text/javascript"></script>
    <script language="javascript" src="../../javascript/jquery/jquery-1.3.2.js" type="text/javascript"></script>
    <script src="../../javascript/jquery/script/default/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="../../javascript/jquery/script/default/jquery.validationEngine-en.js" type="text/javascript"></script>

    <link href="../../javascript/jquery/css/validation/validationEngine.jquery.css" rel="stylesheet" type="text/css" />

    <script src="../../javascript/jquery/script/default/jquery.validationengine-vn.js" type="text/javascript"></script>
    <script src="../../javascript/google/js/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="../../javascript/google/js/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
    <link href="../../javascript/google/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
   
    <script type="text/javascript" language="javascript">
        function jsIn_CT(isBS) {
            var width = screen.availWidth - 100;
            var height = screen.availHeight - 10;
            var left = 0;
            var top = 0;
            var params = 'width=' + width + ', height=' + height;
            params += ', top=' + top + ', left=' + left;
            params += ', directories=no';
            params += ', location=no';
            params += ', menubar=yes';
            params += ', resizable=no';
            params += ', scrollbars=yes';
            params += ', status=no';
            params += ', toolbar=no';
            var strSHKB = $get('<%=hdnSHKB.clientID%>').value;
	 	var strSoCT = $get('<%=hdnSO_CTU.clientID%>').value;
        var strSo_BT = $get('<%=hdnSO_BT.clientID%>').value;
        var MaNV = $get('<%=hdnMA_NV.clientID%>').value;
        var ngayLV = $get('<%=hdnNGAYLV.clientID%>').value;
        window.open("../../pages/Baocao/frmInGNT.aspx?SoCT=" + strSoCT + "&SHKB=" + strSHKB + "&SoBT=" + strSo_BT + "&NgayKB=" + ngayLV + "&MaNV=" + MaNV + "&BS=" + isBS, "", params);

    }
    </script>

    <style type="text/css">
    </style>
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MstPg06_MainContent" runat="Server">
    <div id="popupDiv" title="Thông tin chi tiết" style="width: 770px">
        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
            <tr>
                <td colspan="2" width='100%' align="left">
                    <table width="100%">
                        <tr class="grid_header">
                            <td height="15px" align="right">
                                Trường (*) là bắt buộc nhập
                            </td>
                        </tr>
                    </table>
                    <div id="Panel1" style="height: 400px; width: 100%; overflow-y: scroll;">
                        <table runat="server" id="grdHeader" cellspacing="0" cellpadding="1" rules="all"
                            border="1" style="border-width: 1px; border-style: solid; font-family: Verdana;
                            font-size: 8pt; width: 97%; border-collapse: collapse;">
                            <tr id="rowMaNNT">
                                <td width="24%">
                                    <b>Mã số thuế/Tên </b><span class="requiredField">(*)</span>
                                </td>
                                <td width="25%">
                                    <asp:TextBox runat="server" ID="txtMaNNT" CssClass="inputflat" ReadOnly="true" BackColor="Aqua" Width="98%" />
                                </td>
                                <td width="51%">
                                    <asp:TextBox runat="server" ID="txtTenNNT" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                            </tr>
                            <tr id="rowDChiNNT">
                                <td>
                                    <b>Địa chỉ người nộp thuế</b>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtDChiNNT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            <tr id="rowQuanNNThue">
                                <td>
                                    <b>Quận(Huyện)</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtQuanNNThue" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenQuanNNThue" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                            </tr>
                            <tr id="rowTinhNNThue">
                                <td>
                                    <b>Thành phố(Tỉnh)</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTinhNNThue" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenTinhNNThue" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td width="24%">
                                    <b>Mã cục</b><span class="requiredField">(*)</span>
                                </td>
                                <td width="25%">
                                    <asp:TextBox runat="server" ID="txtMaCuc" CssClass="inputflat" ReadOnly="true" BackColor="Aqua" Width="98%" />
                                </td>
                                <td width="51%">
                                    <asp:TextBox runat="server" ID="txtTenCuc" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td width="24%">
                                    <b>Mã HQ</b><span class="requiredField">(*)</span>
                                </td>
                                <td width="25%">
                                    <asp:TextBox runat="server" ID="txtMaHQ" CssClass="inputflat" ReadOnly="true" BackColor="Aqua" Width="98%" />
                                </td>
                                <td width="51%">
                                    <asp:TextBox runat="server" ID="txtTenHQ" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowCQThu">
                                <td>
                                    <b>CQ Thu </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMaCQThu" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenCQThu" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td width="24%">
                                    <b>Mã HQ PH</b><span class="requiredField">(*)</span>
                                </td>
                                <td width="25%">
                                    <asp:TextBox runat="server" ID="txtMaHQPH" CssClass="inputflat" ReadOnly="true" BackColor="Aqua" Width="98%" />
                                </td>
                                <td width="51%">
                                    <asp:TextBox runat="server" ID="txtTenHQPH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>                            
                            
                            <tr id="rowSHKB">
                                <td width="24%">
                                    <b>Số hiệu KB </b><span class="requiredField">(*)</span>
                                </td>
                                <td width="25%">
                                    <asp:TextBox runat="server" ID="txtSHKB" CssClass="inputflat" ReadOnly="true" BackColor="Aqua" Width="98%" />
                                </td>
                                <td width="51%">
                                    <asp:TextBox runat="server" ID="txtTenKB" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowDBHC">
                                <td>
                                    <b>Mã tỉnh/thành Kho bạc </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMaDBHC" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenDBHC" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowTKCo">
                                <td style="background-color: Pink">
                                    <b>TK Có NSNN </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenTKCo" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTKCo" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowNgay_KH_NH">
                                <td>
                                    <b>Ngày lập CT</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtNGAY_KH_NH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtDesNGAY_KH_NH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowKHCT">
                                <td width="24%">
                                    <b>Mã hiệu CT/Số CT </b><span class="requiredField">(*)</span>
                                </td>
                                <td width="25%">
                                    <asp:TextBox runat="server" ID="txtKHCT" CssClass="inputflat" ReadOnly="true" BackColor="Aqua" Width="98%" />
                                </td>
                                <td width="51%">
                                    <asp:TextBox runat="server" ID="txtSoCT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan ="3">
                                    &nbsp;
                                </td>
                            </tr>
                            
                            <tr id="rowMaNT">
                                <td>
                                    <b>Nguyên tệ</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMaNT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenNT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <b>Tỷ giá </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTyGia" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            
                            <tr id="rowHTTT">
                                <td>
                                    <b>Hình thức thanh toán</b>
                                </td>
                                <td>
                                    <asp:DropDownList runat="server" ID="ddlHTTT" CssClass="inputflat" Enabled="false" Width="100%">
                                        <asp:ListItem Value="00" Text="Nộp tiền mặt" Selected="True"></asp:ListItem>
                                        <asp:ListItem Value="01" Text="Chuyển khoản"></asp:ListItem>
                                    </asp:DropDownList>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenHTTT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowTK_KH_NH">
                                <td>
                                    <b>TK Chuyển </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTK_KH_NH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenTK_KH_NH" CssClass="inputflat" ReadOnly="true" Width="90%" />
                                    <img id="img1" alt="Chọn từ danh mục đặc biệt" src="../../images/icons/MaDB.png"
                                        onclick="jsShowCustomerSignature();" style="width: 16px; height: 16px" />
                                </td>
                            </tr>
                            
                            
                            <tr id="rowQuan_HuyenNNTien">
                                <td>
                                    <b>Quận(huyện)</b>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="TXT1" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            <tr id="rowTinhNNTien" style="display: none">
                                <td>
                                    <b>Thành phố(Tỉnh)</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTinh_TphoNNTien" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtQuan_HuyenNNTien" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowTKNo" style="display: none">
                                <td style="background-color: Aqua">
                                    <b>TK Nợ NSNN </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTKNo" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenTKNo" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowSoDuNH">
                                <td>
                                    <b>Số dư NH</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtSoDu_KH_NH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtDesc_SoDu_KH_NH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowTKGL">
                                <td>
                                    <b>TK Chuyển </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTKGL" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenTKGL" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowNNTien">
                                <td>
                                    <b>MST /Tên người nộp thay</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMaNNTien" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenNNTien" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowDChiNNTien">
                                <td>
                                    <b>Địa chỉ người nộp thay</b>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtDChiNNTien" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowQuanNNTien">
                                <td>
                                    <b>Quận(Huyện)</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtQuanNNTien" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenQuanNNTien" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                            </tr>
                            
                            <tr id="rowTPNNTien">
                                <td>
                                    <b>Thành phố(Tỉnh)</b>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTinhNNTien" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTenTinhNNTien" CssClass="inputflat" ReadOnly="true" Width="99%" />
                                </td>
                            </tr>
                            
                            <tr id="rowSoCMND">
                                <td>
                                    <b>Số chứng minh</b></span>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtCK_SoCMND" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowSoDT">
                                <td>
                                    <b>Số điện thoại</b> </span>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtCK_SoDT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowNganHangChuyen">
                                <td>
                                    <b>Mã NH Chuyển </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMA_NH_A" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTen_NH_A" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowNganHangTT">
                                <td>
                                    <b>Mã NH TT </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMA_NH_TT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTEN_NH_TT" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowNganHangNhan">
                                <td>
                                    <b>Mã NH gián tiếp </b><span class="requiredField">(*)</span>
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtMA_NH_B" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                                <td>
                                    <asp:TextBox runat="server" ID="txtTen_NH_B" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr id="rowDienGiaiNH">
                                <td>
                                    <b>Ngân hàng thụ hưởng</b>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtDienGiaiNH" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <b>Nội dung nộp tiền</b>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtDienGiai" CssClass="inputflat" ReadOnly="true" Width="98%" TextMode="MultiLine" />
                                </td>
                            </tr>
                            
                            <tr id="rowDienGiaiHQ">
                                <td>
                                    <b>Diễn giải sai lệch</b>
                                </td>
                                <td colspan="2">
                                    <asp:TextBox runat="server" ID="txtDienGiaiHQ" CssClass="inputflat" ReadOnly="true" Width="98%" />
                                </td>
                            </tr>                            
                        </table>
                    </div>
                </td>
            </tr>
            <tr style="visibility: hidden">
                <td width="25%" style="height: 0px">
                    <asp:TextBox runat="server" ID="txtSo_BT" CssClass="inputflat" ReadOnly="true" Visible="false" Width="99%" />
                    <asp:TextBox runat="server" ID="txtSoCT_cu" CssClass="inputflat" ReadOnly="true" Visible="false" Width="99%" />
                </td>
                <td width="51%" style="height: 0px">
                    <asp:TextBox runat="server" ID="txtTRANG_THAI" CssClass="inputflat" ReadOnly="true" Visible="false" Width="99%" />
                    <asp:TextBox runat="server" ID="txtMA_NV" CssClass="inputflat" ReadOnly="true" Visible="false" Width="99%" />
                </td>
            </tr>
            <tr>
                <td colspan='2' align="left" class="errorMessage" width='100%'>
                    <table width='100%'>
                        <tr>
                            <td width='100%' align="right">
                                <asp:Label ID="lbSoFT" Text="" runat="server" Style="font-weight: bold;"></asp:Label>
                                <asp:Label ID="lbSoCT" runat="server" Style="font-weight: bold;" Visible="false"></asp:Label>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" width='100%'>
                                <asp:UpdateProgress ID="updProgress" runat="server">
                                    <ProgressTemplate>
                                        <div style="background-color: Aqua;">
                                            <b style="font-size: 15pt">Đang lấy dữ liệu tại server.Xin chờ một lát...</b>
                                        </div>
                                    </ProgressTemplate>
                                </asp:UpdateProgress>
                                <b><asp:Literal ID="lblStatus" runat="server"></asp:Literal></b>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="100%">
                    <asp:DataGrid ID="grdChiTiet" runat="server" AllowPaging="false" AutoGenerateColumns="False"
                        ShowHeader="true" Width="100%" CssClass="grid_data">
                        <HeaderStyle CssClass="grid_header"></HeaderStyle>
                        <AlternatingItemStyle CssClass="grid_item_alter"></AlternatingItemStyle>
                        <ItemStyle CssClass="grid_item" />
                        <Columns>
                            <asp:TemplateColumn HeaderText="Số tờ khai">
                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="55px"></HeaderStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="SO_TK" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "SO_TK") %>'
                                        Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="Ngày TK">
                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="45px"></HeaderStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="NGAY_TK" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "NGAY_TK") %>'
                                        Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="Mã LT">
                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px"></HeaderStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="MA_LT" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: center" ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "MA_LT") %>'
                                        Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="LH XNK">
                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px"></HeaderStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="LH_XNK" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: center" ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "MA_LHXNK") %>'
                                        Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            <asp:TemplateColumn HeaderText="Sắc thuế">
                                <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px"></HeaderStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="SAC_THUE" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: center" ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "SAC_THUE") %>'
                                        Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            
                            <asp:TemplateColumn HeaderText="Mã chương">
                                <HeaderStyle HorizontalAlign="Center" Width="25px"></HeaderStyle>
                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="MA_CHUONG" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: center" ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "MA_CHUONG") %>'
                                        Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            
                            <asp:TemplateColumn HeaderText="NDKT">
                                <HeaderStyle HorizontalAlign="Center" Width="30px"></HeaderStyle>
                                <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle"></ItemStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="MA_MUC" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: center" ReadOnly="true" BackColor="Yellow" Text='<%# DataBinder.Eval(Container.DataItem, "MA_TMUC") %>'
                                        Font-Bold="true" MaxLength="4" AutoPostBack="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>                           
                            
                            <asp:TemplateColumn HeaderText="Nội dung">
                                <HeaderStyle HorizontalAlign="Center" Width="150px"></HeaderStyle>
                                <ItemStyle HorizontalAlign="left" VerticalAlign="Middle"></ItemStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="NOI_DUNG" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        ReadOnly="true" Text='<%# DataBinder.Eval(Container.DataItem, "NOI_DUNG") %>'
                                        MaxLength="200" Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            
                            <asp:TemplateColumn HeaderText="Số tiền">
                                <HeaderStyle HorizontalAlign="Center" Width="80px"></HeaderStyle>
                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"></ItemStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="SOTIEN" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: right" ReadOnly="true" Text='<%# DataBinder.Eval(Container.DataItem, "SOTIEN") %>'
                                        Font-Bold="true">
                                    </asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                            
                            <asp:TemplateColumn HeaderText="Ngoại tệ">
                                <HeaderStyle HorizontalAlign="Center" Width="80px"></HeaderStyle>
                                <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle"></ItemStyle>
                                <ItemTemplate>
                                    <asp:TextBox ID="SOTIEN_NT" runat="server" Width="97%" BorderColor="white" CssClass="inputflat"
                                        Style="text-align: right" Text='<%# DataBinder.Eval(Container.DataItem, "SOTIEN_NT") %>'
                                        ReadOnly="true" Font-Bold="true"></asp:TextBox>
                                </ItemTemplate>
                            </asp:TemplateColumn>
                        </Columns>
                    </asp:DataGrid>
                </td>
            </tr>
            <tr>
                <td colspan='2' height='5'>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="2">
                    <table width="500px">
                        <tr align="right">
                            <td>
                                <asp:HiddenField ID="hdnSO_CTU" runat="server" />
                                <asp:HiddenField ID="hdnSHKB" runat="server" />
                                <asp:HiddenField ID="hdnMA_NV" runat="server" />
                                <asp:HiddenField ID="hdnSO_BT" runat="server" />
                                <asp:HiddenField ID="hdnNGAYLV" runat="server" />
                                 <asp:HiddenField ID="hdnNgayKB" runat="server" />
                                <asp:HiddenField ID="hdfTrangThai_CT" runat="server" />
                                 <asp:HiddenField ID="hdfKyHieu_CT" runat="server" />
                                 <asp:HiddenField ID="hdfTrangThai_CThue" runat="server" />
                                 <asp:HiddenField ID="hdfLoai_CT" runat="server" />

                                
                                <asp:Button ID="btnInCTU" runat="server" Text="In Chứng từ" OnClientClick="jsIn_CT(1);" Visible="false"/>
                              

                                <asp:Button ID="btnChuyenThue" runat="server" Text="Chuyển Hải quan" Visible="false"/>
                            </td>
                            <td>
                                <asp:TextBox runat="server" ID="txtRM_REF_NO" CssClass="inputflat" Visible="false" ReadOnly="true" Text="" />
                                <asp:TextBox runat="server" ID="txtREF_NO" CssClass="inputflat" Visible="false" ReadOnly="true" Text="" />
                                <asp:TextBox runat="server" ID="txtSoCT_NH" CssClass="inputflat" Visible="false" ReadOnly="true" Text="" />
                                <asp:TextBox runat="server" ID="txtTimeLap" CssClass="inputflat" Visible="false" ReadOnly="true" Text="" />
                            </td>
                            
                            <td align="right">
                                Tổng Tiền
                                <asp:TextBox runat="server" ID="txtTTIEN" Style="text-align: right; width: 120px" CssClass="inputflat" ReadOnly="true" Text="0" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="4"> </td>
                        </tr>
                    </table>
                    <span style="display: inline-block">Bằng chữ</span>
                    <asp:Label runat="server" ID="lblTTien_Chu" Style="text-align: right; display: inline-block" CssClass="inputflat" ReadOnly="true" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    PT tính phí
                    <asp:RadioButton ID="rdTypeMP" Text="Miễn phí" GroupName="RadioGroup" runat="server"
                        Enabled="false" />
                    <asp:RadioButton ID="rdTypePT" Text="Phí trong" Visible="false" GroupName="RadioGroup"
                        runat="server" Enabled="false" />
                    <asp:RadioButton ID="rdTypePN" Text="Phí ngoài" GroupName="RadioGroup" runat="server"
                        Enabled="false" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr align="left">
                            <td align="right">
                                Loại phí
                            </td>
                            <td align="right" colspan="2">
                                <asp:TextBox ID="txtTenLoaiPhi" Text="" runat="server" Width="80%" CssClass="inputflat" ReadOnly="true"></asp:TextBox>
                            </td>
                        </tr>
                        <tr align="right" style="display:none">
                            <td></td>
                            <td align="right">
                                Phí
                                <asp:TextBox runat="server" ID="txtPhi" Width="100px" CssClass="inputflat" ReadOnly="true" Text="0" Style="text-align: right" />
                            </td>
                            <td align="right">
                                VAT
                                <asp:TextBox runat="server" ID="txtPhiVAT" Width="120px" CssClass="inputflat" ReadOnly="true" Text="0" Style="text-align: right" />
                            </td>
                        </tr>
                        <tr align="left" style="visibility:visible; display:none">
                            <td align="right">
                                Phí kiểm đếm
                            </td>
                            <td align="right" colspan="2">
                                <asp:TextBox ID="txtTenLoaiPhiKD" Text="" runat="server" Width="80%" CssClass="inputflat" ReadOnly="true"></asp:TextBox>
                            </td>
                        </tr>
                        <tr align="right" style="display:none">
                        <td> Phí kiểm đếm</td>
                            <td align="right">
                                Phí
                                <asp:TextBox runat="server" ID="txtPhiKD" Width="100px" CssClass="inputflat" ReadOnly="true" Text="0" Style="text-align: right" />
                            </td>
                            <td align="right">
                                VAT
                                <asp:TextBox runat="server" ID="txtPhiKDVAT" Width="120px" CssClass="inputflat" ReadOnly="true" Text="0" Style="text-align: right" />
                            </td>
                        </tr>
                        <tr align="right">
                            <td></td>
                            <td></td>
                            <td align="right">
                                Tổng trích nợ
                                <asp:TextBox runat="server" ID="txtTongTrichNo" Width="120px" CssClass="inputflat" ReadOnly="true" Text="0" Style="text-align: right" />
                            </td>
                        </tr>
                        <tr align="right">
                            <td align="right" valign="top" colspan="3">
                                Lý do hủy/chuyển trả: &nbsp;
                                <asp:TextBox ID="txtLyDoHuy" runat="server" CssClass="inputflat" Width="80%"></asp:TextBox>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</asp:Content>
