/*==============================================================
ļ˵õcssʽļҳзɫcssȫϵͳõcss¼ҳcss
===============================================================*/

/****************
author:huangyupeng
date:20060609
function:Ԫ
****************/
.float_left {float:left;}
/****************
author:huangyupeng
date:20060609
function:ԪҶ룺ҳ涥Ҳఴťʽ
****************/
.float_right {float:right;}

/****************
author:huangyupeng
date:20060609
function:clear  и
****************/
.clear {clear:both;}

/****************
author:huangyupeng
date:20060609
function:clear  ҳ涥Ҳʽ
****************/
.top_margin {margin:46px 8px 0 0;}

/************************* Global Setting / ȫ *************************/

/****************
author:huangyupeng
date:20060609
function:ҳĬʽ
****************/
* { 
margin:0; 
padding:0; 
} 

/****************
author:huangyupeng
date:20060609
function:ҳbodyʽ
****************/
body {
background:transparent;
overflow:auto;
overflow-x:hidden;
}

/****************
author:huangyupeng
date:20060609
function:ҳ body divtdspanp ʽ
****************/
body,div,td,span,p {
font:12px "",Tahoma;
}

/****************
author:huangyupeng
date:20060609
function:ҳʽ
****************/		
p {text-indent:2em;line-height:24px;font-size:13px;margin-bottom:12px;}


/****************
author:huangyupeng
date:20060609
function:ҳͼƬʽ
****************/
img {border:0;}

/****************
author:huangyupeng
date:20060609
function:ҳʽ
****************/
a {
text-decoration:none;
cursor:hand;
}

/****************
author:huangyupeng
date:20060609
function:ҳӣڸϣʽ
****************/
a:hover {
text-decoration:none;
}

/****************
author:huangyupeng
date:20060609
function:ҳ input ʽ
****************/
input {
font:11px "",Tahoma;
padding:1px 2px 0 2px;
font-family:Arial, Helvetica, sans-serif;
}

/****************
author:huangyupeng
date:20060609
function:ҳ inputťʽ
****************/
input.button {
padding:4px 10px 1px 10px;
border:0;
margin-right:10px;
margin-left:0px;
cursor:hand;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
overflow:visible;
}


/****************
author:huangyupeng
date:20060609
function:ҳ select ʽ
****************/	
select {font:12px "",Tahoma;}

/****************
author:huangyupeng
date:20060609
function:ҳ ul ʽ
****************/	
ul {
margin:0 0 6px 0;
list-style:outside square;
padding-left:17px;
font-weight:bold;
}

/****************
author:huangyupeng
date:20060609
function:ҳ li ʽ
****************/	
li {
margin:3px 0 0 0;
padding:1px 0;
font-weight:normal;
}

/****************
author:huangyupeng
date:20060609
function:һ˵ʽ
****************/	
.menu1_on {
padding:5px 0 3px 0;
margin-bottom:-1px;
}

/****************
author:huangyupeng
date:20060609
function:һ˵Ǹʽ
****************/	
.menu1_off {
padding:6px 0 1px 0;
}
/****************
author:huangyupeng
date:20060609
function:һ˵ʽ
****************/	
.menu1_off,
.menu1_on {
width:85px;
text-align:center;
display:block;
float:left;
cursor:default;
font-size:13px;
font-weight:bold;
}
/****************
author:huangyupeng
date:20060609
function:˵ʽ
****************/	
.menu2_on {
font-size:13px;
font-weight:normal;
}
/****************
author:huangyupeng
date:20060609
function:˵Ǹʽ
****************/	
.menu2_off {
font-size:13px;
font-weight:normal;
}
/****************
author:huangyupeng
date:20060609
function:˵ʽ
****************/	
.menu3_on,
.menu3_off {
float:left;
margin:10px 0 -10px 0;
width:90px;
display:block;
padding:7px 0 2px 0;
text-align:center;
}
/*******************************
author:Lifeng
date:20060713
function:˵ͼƬĴС
********************************/
.icon {
	HEIGHT: 12px; MARGIN-RIGHT: 5px; VERTICAL-ALIGN: top; WIDTH: 12px
}

