label.error {
	color: red;
	font-style: normal;
	font-weight:normal;
}
div.error { 
		display: none; 
}
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }