body {
	font-size:12px;
	margin: 0px;	
	padding: 0px;
	background-color: #CB2200;
	color: #000;
	font-family: Arial, sans-serif;
}

div#conner { 
	margin: 2%;
	background: #FFFFFF
}

div.rtop, div.rbottom {
	display:block;
	background: #CB2200
}

div.rtop div, div.rbottom div {
	display:block;
	height: 1px;
	overflow: hidden; 
	background: #FFFFFF
}

div.r1 {
	margin: 0 5px
}

div.r2 {
	margin: 0 3px
}

div.r3 { 
	margin: 0 2px
}

div.rtop div.r4, div.rbottom div.r4 {
	margin: 0 1px;
	height: 2px
}

.div_link_info {
	height: 20px; 
	padding: 5px 0 0 5px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

#page_title{
	height: 20px;
	font-weight: bold;
	color: #fff
}

.input_common {
	border: 0; 
	height: 20px; 
	width: 85%;
}

.select_common{
	width: 85%; 
}

.hr_common {
	margin: 4px 0; 
	border-bottom: 1px solid #CECFCE; 
	width: 90%;
}

.result_table{
	padding-left: 5px; 
}

#accTitle{
	padding-left: 5px;
	font-weight: bold;
	color: #FF8F00;
}

.left{
	width: 35%; 
}

.right{
	color: #6063D3; 
}

.logodesc{position:absolute;top: 44px;left: 165px;display:block;color:#9a9898;font-size:14px;font-family: Arial, Helvetica, sans-serif;border-left:1px solid #000;padding-left: 14px;}
.loginposition{padding-top: 12px;height: 30px;line-height:30px;color:#656565;font-size:14px;font-weight:bold;font-family: Arial, Helvetica, sans-serif;}
.loginpositionbg{background:url(../../images/logon_public/red_line.gif) repeat-x 0 top;}
#usertable{margin: 0;}
#usertable td{padding-top:10px !important;padding-top:8px;padding-bottom:0;}
