body {
	font-size:12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	 
}
input {
  font-size:12px;
}
.login {
	font-size: 12px;
	color: #ffffff;
}
.login a:link,
.login a:visited,{
	font-size: 12px;
	color: #ffffff;
	text-decoration: underline;
}
.login a:hover{
	font-size: 12px;
	color: #ffc000;
	text-decoration: underline;
}
.category {
	font-size: 12px;
}
.copyright {
	font-size: 12px;
}
.slide_font{
	color: #666666;
font-size:12px;
}
.somenote {
	font-size: 12px;
}
.mark {
	color: #000000;
}
.import {
	font-size: 12px;
	color: red;
}
a:link {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
a.sysbook:link {
	font-size: 12px;
	color: red;
	text-decoration: none;
}
a.sysbook:visited {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.sysbook:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}

.logodesc{position:absolute;top: 44px;left: 165px;display:block;color:#9a9898;font-size:14px;font-family: Arial, Helvetica, sans-serif;border-left:1px solid #000;padding-left: 14px;}
.loginposition{padding-top: 12px;height: 30px;line-height:30px;color:#656565;font-size:14px;font-weight:bold;font-family: Arial, Helvetica, sans-serif;}
.loginpositionbg{background:url(../../images/logon_public/red_line.gif) repeat-x 0 top;}
#usertable{margin: 0;}
#usertable td{padding-top:10px !important;padding-top:8px;padding-bottom:0;}
