	.menu1_on {
	padding:5px 0 3px 0;
	margin-bottom:-1px;
	}
	.menu1_off {
		padding:6px 0 1px 0;
	}
	.menu1_off,
	.menu1_on {
	width:100px;
	text-align:center;
	display:block;
	float:left;
	cursor:default;
	font-size:13px;
	font-weight:bold;
}
	.menu1_on {
	background:#fff url(../../images/help/menu1_bg_on2.gif) left top no-repeat;
	color:#bb2200;
	}

	/****************
	author:huangyupeng
	date:20060607
	function:一级菜单未选中样式
	****************/
	.menu1_off {
	background:#fff url(../../images/help/menu1_bg_off2.gif) left top no-repeat;
	color:#004d99;
	}