/*==============================================================
文件说明：主框架页面非颜色、图片样式定义的css样式定义文件
===============================================================*/
/****************
author:huangyupeng
date:20060609
function:页面顶端图片样式
****************/
#Header img {vertical-align:-5px;}

/****************
author:huangyupeng
date:20060609
function:主页面内容样式
****************/
#Page_content {
width:92%;
padding:0 20px;
margin:0 auto;
}

/****************
author:huangyupeng
date:20060609
function:主页面左边部分样式
****************/
#Page_left {
margin:13px 0 15px 0;
float:left;
}

/****************
author:huangyupeng
date:20060609
function:主页面右边部分样式
****************/
#Page_right {
float:right;
width:200px;
margin:-27px 0 15px 0;
}

/****************
author:huangyupeng
date:20060609
function:主页面一级菜单样式
****************/
#Menu1 {
padding-left:12px;
padding-top:5px;
border-bottom:1px solid;
}

/****************
author:huangyupeng
date:20060609
function:主页面二级菜单样式
****************/
#Menu2 {
padding:14px 20px 10px 42px;
}

/****************
author:huangyupeng
date:20060609
function:主页面三级菜单样式
****************/
#Menu3 {

}

/****************
author:huangyupeng
date:20060607
function:日期样式
****************/
.text_date {font:10px Tahoma;}

/****************
author:huangyupeng
date:20060607
function:时间样式
****************/
.text_time {font:12px Tahoma;font-weight:bold;}


/****************
author:huangyupeng
date:20060607
function:main页面顶部摆位
****************/
.top_margin {margin:12px 8px 0 0;text-align:right;line-height:20px;}

/****************
author:huangyupeng
date:20060607
function:通用交易的统一标题线
****************/
.tx_title_line {
padding:0px 12px 0px 0px;
margin-top:2px;
border-top:2px solid;
}


/****************
author:huangyupeng
date:20060609
function:元素左对齐：页面顶端建行logo样式
****************/
.main_logo {float:left;}/*此功能需修改*/


/****************
author:chenxiuling
date:20060711
function:main页面顶部常见问题解答大小样式
****************/
.help_size {width:110px;height:21px;}

/****************
author:chenxiuling
date:20060710
function:main页面顶部退出系统大小样式
****************/
.exit_size {width:80px;height:21px;}

/****************
author:chenxiuling
date:20061222
function:main页面顶部在线客服大小样式
****************/
.olhelp_size {width:84px;height:21px;}

/****************
author:chenxiuling
date:20060712
function:main页面lopen、lclose大小样式
****************/
.icon_size {width:14px;height:14px;}
