﻿table.jCalendar {/*Màu nền cho bảng ngày tháng, màu viền khung ngày tháng và màu các đường viền bên trong*/
	border:1px solid #ff9c00;
	background: #fff;
    border-collapse: separate;
    border-spacing: 1px;
}
table.jCalendar th {/*Các thứ (2,3,..,7,CN)*/
	background: #ff9c00;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {/*Các ngày chọn được*/
	background: #ffd046;
	color: #4d4d4d;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {/*Các ngày chọn được của tháng khác*/
	background: #ffe390;
	color: #4d4d4d;
}
table.jCalendar td.today {/*Ngày hiện tại*/
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {/*Ngày được hover*/
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {/*Các ngày không chọn được*/
	background: #feebb3;
	color: #c5c5c5;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {/*Khung popup*/
	position: relative;
	background: #fce8ad;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 165px;
	line-height: 1.2em;
	border:solid 1px #ff9c00;
	border-radius:5px;
}
div#dp-popup {
	position: absolute;
	z-index: 1999;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {/*Các nút di chuyển ngày tháng > >>*/
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {/*Các nút di chuyển ngày tháng khi bị ẩn > >>*/
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}




/*---Nút chọn ngày tháng---*/
a.dp-choose-date {	
	width: 16px;
	height: 16px;
	padding: 0;
	display: inline-block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(date.jpg) no-repeat; 
	position:absolute; right:4px; top:2px;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
