.compare{
	 display:none; 
	 position: absolute;    
	 background:url(img/black_arrow.png) no-repeat;     
	 height:220px;     
	 padding:20px 10px 10px 30px;     
	 width:300px;     
	 font-size:12px;     
	 z-index: 3000;
	 overflow:hidden;
	 color:#000;

}