﻿<%@ Page Language="VB" MasterPageFile="../shared/MasterPage02.master" AutoEventWireup="false"
    CodeFile="frmHomeNV.aspx.vb" Inherits="pages_HeThong_frmHomeNV" Title="Trang chủ nghiệp vụ-Hệ thống thu thuế tập trung" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MstPg02_MainContent" runat="Server">
    <br /><br />
    
    <asp:Button ID="btnTest" runat="server" Text="Test" Visible="false" /><%--<asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>--%>
            <asp:Button ID="Button1" runat="server" Text="Lấy thông tin"  Visible="false" /> <asp:TextBox ID="tbNgayDC" Visible="false" runat="server"></asp:TextBox> <asp:Button ID="Button2" Visible="false" runat="server" Text="Test BC DC 01" />
            <asp:Literal ID="ltload" runat="server"></asp:Literal>
            <asp:DataGrid ID="dtgdata" runat="server" AutoGenerateColumns="False" Visible="false" TabIndex="9"
                Width="100%" BorderColor="#989898" CssClass="grid_data" AllowPaging="false">
                <AlternatingItemStyle CssClass="grid_item_alter"></AlternatingItemStyle>
                <HeaderStyle BackColor="#5DC8D2" CssClass="grid_header"></HeaderStyle>
                <ItemStyle CssClass="grid_item" />
                <Columns>
                    <asp:BoundColumn DataField="ID_GDICH" HeaderText="ID GDICH">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="SENDER_CODE" HeaderText="SENDER CODE">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="SENDER_NAME" HeaderText="SENDER NAME">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="RECEIVER_CODE" HeaderText="RECEIVER CODE">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="RECEIVER_NAME" HeaderText="RECEIVER NAME">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left"></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="TRAN_CODE" HeaderText="TRAN CODE">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="MSG_ID" HeaderText="MSG ID">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="ID_LINK" HeaderText="ID LINK">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="SEND_DATE" HeaderText="SEND DATE">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="ORIGINAL_CODE" HeaderText="ORIGINAL CODE">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="ORIGINAL_NAME" HeaderText="ORIGINAL NAME">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="ORIGINAL_DATE" HeaderText="ORIGINAL DATE">
                        <HeaderStyle Width="7%" />
                        <ItemStyle Width="7%" HorizontalAlign="Left" ></ItemStyle>
                    </asp:BoundColumn>
                    <asp:BoundColumn DataField="NGAY_GDICH" HeaderText="NGAY GDICH">
                        <ItemStyle HorizontalAlign="Left"></ItemStyle>
                    </asp:BoundColumn>
                </Columns>
                <%--<PagerStyle HorizontalAlign="Right" Mode="NumericPages" BackColor="#E4E5D7" Font-Bold="False"
                    Font-Italic="False" Font-Names="Tahoma" Font-Overline="False" Font-Size="X-Small"
                    Font-Strikeout="False" Font-Underline="False" ForeColor="#003399" VerticalAlign="Middle">
                </PagerStyle>--%>
            </asp:DataGrid>
        <%--</ContentTemplate>
    </asp:UpdatePanel>--%>
    <table width="100%" height="470px">
        <tr>
            <td align="center">
                <asp:Label ID="lbThongBao" runat="server" CssClass="form_label" Font-Size="Larger"
                    Font-Bold="true" ForeColor="Red">
                </asp:Label>
            </td>
        </tr>
    </table>
</asp:Content>
