﻿<%@ Page Language="VB" MasterPageFile="~/shared/MasterPage01.master" AutoEventWireup="false"
    CodeFile="frmLogout.aspx.vb" Inherits="pages_HeThong_frmLogout" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MstPg01_MainContent" runat="Server">
    <div style="/*background-image: url(../Images/login-ghep_02.gif)*/">
                    <table id="Table10" cellspacing="0" cellpadding="0" border="0" height="450px" width="64%">
                        <tr>
                            <td valign="middle" align="center">
                                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                    <tr>
                                        <td width="9">
                                            <img height="223" src="../images/left_box_login.gif" width="9">
                                        </td>
                                        <td style="border-top: #ededed 1px solid" valign="top" background="../images/bg_box_login.gif">
                                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                <tr>
                                                    <td valign="top" align="center" width="80px">
                                                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                            <tr>
                                                                <td valign="top" align="center">
                                                                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                                                        <tr>
                                                                            <td align="center">
                                                                                <img height="89" src="../images/img_key.gif" width="86">
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="top" align="center">
                                                        <table cellspacing="0" cellpadding="0" width="90%" border="0">
                                                            <tr>
                                                                <td height="30">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left">
                                                                    <strong><span style="font-size: 12pt; color: red">Lỗi truy cập hệ thống, b&#7841;n kh&#244;ng
                                                                        &#273;&#432;&#7907;c ph&#226;n quy&#7873;n &#273;&#7875; truy c&#7853;p ch&#7913;c
                                                                        n&#259;ng này !</span></strong><br />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="80px">
                                                                    <strong><span style="font-size: 10pt;">Bấm <a href="javascript:history.go(-1);">vào
                                                                        đây</a> để quay lại hoặc bấm vào <a href="frmLogin.aspx">đăng nhập</a> để thực
                                                                        hiện với người sử dụng khác.</span></strong>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="10">
                                            <img src="../images/right_box_login.gif" width="10">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
</asp:Content>
