﻿
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmShowError.aspx.vb" Inherits="pages_frmShowError" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
</head>
<body>
    <h1>Your session is timeout</h1>
    <h2>Click here to start new session again</h2><h2><a href="frmLogin.aspx">Go to login page</a></h2>
</body>
</html>
