﻿<%--<%@ OutputCache Duration ="10" VaryByParam="*"  %>--%>
<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ucBottomPG.ascx.vb" Inherits="shared_ucBottomPG" %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="50" background="<%=imageFolder %>bg_footer.jpg">
            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div align="left">
                            Địa chỉ: 77 Trần Hưng Đạo - Hoàn Kiếm - Hà Nội  
                              </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="left">
                        Website:<a href= "http://shb.com.vn/">www.shb.com.vn/</a>, Tel (04) 3942 3388, Fax: (04) 3941 0944
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
