﻿<%@ Page Language="VB" MasterPageFile="~/shared/MasterPage02.master" AutoEventWireup="false" CodeFile="frmDMTaiKhoan.aspx.vb"
 Inherits="pages_HeThong_DanhMuc_frmDMTaiKhoan" title="Danh mục tài khoản" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MstPg02_MainContent" Runat="Server">
<script language="javascript" type="text/javascript">
function ShowLov(strType)
    {
        if (strType=="DBHC") return FindDanhMuc('DBHC','<%=txtMaDBHC.ClientID %>', '', ''); 
    }
    function FindDanhMuc(strPage,txtID, txtTitle,txtFocus) {
        var strSHKB;
       
            if (strPage=="DBHC")  strPage="DBHCAll";
            var returnValue = window.showModalDialog("../../../Find_DM/Find_DanhMuc.aspx?page=" + strPage +"&initParam=" + document.getElementById(txtID).value, "", "dialogWidth:600px;dialogHeight:500px;help:0;status:0;","_new");
        //alert('b');
       
        if (document.all) {
            if (returnValue != null) {
                document.getElementById(txtID).value = returnValue.ID;
                if (txtTitle!=null){
                    document.getElementById(txtTitle).value = returnValue.Title;                    
                }
                if (txtFocus!=null){
                    document.getElementById(txtFocus).focus();
                }
            }
        }
        //NextFocus();
    }
    

</script>
    <table id="Table4" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td class="pageTitle">
                <asp:Label ID="lblTitle" runat="server">DANH MỤC TÀI KHOẢN</asp:Label>
            </td>
        </tr>
        <tr>
            <td class="errorMessage">
                <asp:Label ID="lblError" runat="server"></asp:Label>
            </td>
            <input type="hidden" runat="server" id="Hidden1" />
        </tr>
        <tr>
            <td align="center">
                <table id="table2" runat="server" cellpadding="1" cellspacing="1" border="0" width="100%"
                    class="form_input">
                    <tr align="left">
                        <td style="width: 20%;" class="form_label">
                            <asp:Label ID="Label3" runat="server" CssClass="label">Tài khoản</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:TextBox ID="txtTK" runat="server" MaxLength="12" Width="30%" CssClass="inputflat"
                                TabIndex="1"></asp:TextBox>
                        </td>
                    </tr>
                    <tr align="left">
                        <td class="form_label">
                            <asp:Label ID="lblUserNameCaption" runat="server" CssClass="label">Tên tài khoản</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:TextBox ID="txtTenTK" runat="server" MaxLength="50" Width="50%" CssClass="inputflat"
                                TabIndex="2"></asp:TextBox>
                        </td>
                    </tr>
                     <tr align="left">
                        <td class="form_label">
                            <asp:Label ID="Label1" runat="server" CssClass="label">Mã ĐBHC</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:TextBox ID="txtMaDBHC" runat="server" MaxLength="50" Width="50%" CssClass="inputflat"
                                TabIndex="3" onkeypress="if (event.keyCode==13){ShowLov('DBHC');}" ></asp:TextBox>
                        </td>
                    </tr>
                     <tr align="left">
                        <td class="form_label">
                            <asp:Label ID="Label4" runat="server" CssClass="label">Mã CQT</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:TextBox ID="txtMaCQT" runat="server" MaxLength="50" Width="50%" CssClass="inputflat"
                                TabIndex="4"></asp:TextBox>
                        </td>
                    </tr>
                    
                    <tr align="left">
                        <td class="form_label">
                            <asp:Label ID="lblPasswordCaption" CssClass="label" runat="server">Trạng thái</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:DropDownList ID="cboTinh_trang" runat="server" CssClass="inputflat">
                                <asp:ListItem Text="Đang hoạt động" Value="1"></asp:ListItem>
                                <asp:ListItem Text="Ngừng hoạt động" Value="0"></asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                     <tr align="left">
                        <td class="form_label">
                            <asp:Label ID="Label2" CssClass="label" runat="server">Trạng thái</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:DropDownList ID="cboTK_KB_NH" runat="server" CssClass="inputflat">
                                <asp:ListItem Text="TK nợ" Value="1"></asp:ListItem>
                                <asp:ListItem Text="TK Có" Value="0" Selected="True"></asp:ListItem>
                            </asp:DropDownList>
                        </td>
                    </tr>
                     <tr align="left">
                        <td class="form_label">
                            <asp:Label ID="Label5" CssClass="label" runat="server">Thuộc kho bạc</asp:Label>
                        </td>
                        <td class="form_control">
                            <asp:DropDownList ID="cboKhoBac" runat="server" CssClass="inputflat">
                            </asp:DropDownList>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 40px;" align="center">
                <asp:Button ID="cmdSearch" runat="server" CssClass="ButtonCommand" Text="Tìm kiếm">
                </asp:Button>&nbsp; &nbsp;
                <asp:Button ID="cmdCancel" runat="server" CssClass="ButtonCommand" Text="Làm mới">
                </asp:Button>&nbsp; &nbsp;
                <asp:Button ID="cmdTaoMoi" runat="server" CssClass="ButtonCommand" Text="Ghi" TabIndex="5">
                </asp:Button>&nbsp;&nbsp;
                <asp:Button ID="cmdDeleteUser" runat="server" CssClass="ButtonCommand" Text="Xóa">
                </asp:Button>&nbsp;&nbsp;
                <asp:Button ID="cmdIn" Enabled="false" runat="server" CssClass="ButtonCommand" Text="In" Visible="false">
                </asp:Button>&nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" runat="server" id="hdnbox" />
                <input type="hidden" runat="server" id="hdnbox1" />
            </td>
        </tr>
        <tr>
            <td align="center">
             <%--<div style="vertical-align :top; height: 300px; overflow: auto; width: 600px;">--%>
                <asp:DataGrid ID="dtgdata" runat="server" AutoGenerateColumns="False" TabIndex="9"
                    Width="100%" BorderColor="#989898" CssClass="grid_data" AllowPaging="True" >
                    <AlternatingItemStyle CssClass="grid_item_alter"></AlternatingItemStyle>
                    <HeaderStyle BackColor="#5DC8D2" CssClass="grid_header"></HeaderStyle>
                    <ItemStyle CssClass="grid_item" />
                    <Columns>
                     <%--<asp:BoundColumn DataField="cch_id" HeaderText="ID" Visible="false">
                            <HeaderStyle Width="0"></HeaderStyle>
                            <ItemStyle HorizontalAlign="Left"  Width="0"></ItemStyle>
                        </asp:BoundColumn>--%>
                         <asp:BoundColumn DataField="TK" HeaderText="Tài khoản" Visible="false">
                            <HeaderStyle Width="0"></HeaderStyle>
                            <ItemStyle HorizontalAlign="Left" Width="0"></ItemStyle>
                        </asp:BoundColumn>
                        <asp:TemplateColumn HeaderText="Mã tài khoản" HeaderStyle-Width="20%">
                            <ItemTemplate>
                                <asp:HyperLink ID="Hyperlink1" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "TK_VIEW") %>'
                                    NavigateUrl='<%#"~/pages/HeThong/DanhMuc/frmDMTaiKhoan.aspx?ID=" & DataBinder.Eval(Container.DataItem, "TK") %>'>
                                </asp:HyperLink>
                            </ItemTemplate>
                            <HeaderStyle Width="20%"></HeaderStyle>
                        </asp:TemplateColumn>
                        <asp:BoundColumn DataField="TEN_TK" HeaderText="Tên tài khoản">
                            <HeaderStyle></HeaderStyle>
                            <ItemStyle HorizontalAlign="Left"></ItemStyle>
                        </asp:BoundColumn>
                         <asp:BoundColumn DataField="DBHC" HeaderText="Mã ĐBHC">
                            <HeaderStyle></HeaderStyle>
                            <ItemStyle HorizontalAlign="Left"></ItemStyle>
                        </asp:BoundColumn>
                         <asp:BoundColumn DataField="MA_CQThu" HeaderText="Mã CQT">
                            <HeaderStyle></HeaderStyle>
                            <ItemStyle HorizontalAlign="Left"></ItemStyle>
                        </asp:BoundColumn>
                        <asp:BoundColumn DataField="TINH_TRANG" HeaderText="Tình trạng">
                            <HeaderStyle Width="80px"></HeaderStyle>
                            <ItemStyle HorizontalAlign="center"></ItemStyle>
                        </asp:BoundColumn>
                        <asp:TemplateColumn HeaderText="Chọn">
                            <ItemStyle HorizontalAlign="Center" Width="30px"></ItemStyle>
                            <ItemTemplate>
                                <asp:CheckBox ID="chkSelect" runat="server"></asp:CheckBox>
                            </ItemTemplate>
                        </asp:TemplateColumn>
                    </Columns>
                    <PagerStyle HorizontalAlign="Right" Mode="NumericPages" BackColor="#E4E5D7" Font-Bold="False"
                        Font-Italic="False" Font-Names="Tahoma" Font-Overline="False" Font-Size="X-Small"
                        Font-Strikeout="False" Font-Underline="False" ForeColor="#003399" VerticalAlign="Middle">
                    </PagerStyle>
                </asp:DataGrid><br />
                <%--</div>--%>
            </td>
        </tr>
    </table>
</asp:Content>

