﻿.paging-nav {
    text-align: right;
    padding-top: 2px;
}

.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
}

.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}

.paging-nav, #tableData {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

div #pager
{
	/*
    border-bottom: solid 1px #e4e5d7;
    background-color: #91b9e6;
	*/
    font-size: 8pt;
    line-height: 20px;
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    padding: 0 6px;
    height: 20px;
    text-align:right;
}
div #pager span.active
{
    text-decoration: underline;
    cursor: auto;
    color: -webkit-link;
    padding: 0 6px;
    font-weight:bold;
    /*background: #187ed5;*/
}